<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title><%= user.username %>'s Profile</title>
</head>
<body>
  <div class="container">
    <h1><%= user.username %>'s Profile</h1>
    <h2>Your Messages</h2>
    <ul>
      <% userMessages.forEach((message) => { %>
        <li><%= message.text %> (<%= moment(message.added).fromNow() %>) | Upvotes: <%= message.upvotes %></li>
      <% }) %>
    </ul>
    <a href="/" class="button">Back to messages</a>
  </div>
</body>
</html>